@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<div>
    <br/>
    <div>
        <p>
            Please confirm you want to cancel the dinner titled:
            <i>@Model.Title?</i>
        </p>
    </div>
    <br/>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    }
</div>
