@model NerdDinner.Models.PaginatedList<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Index";
}

<h2>Find a Dinner</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Title, "Details", new { id = item.DinnerID })
            on
            @Html.DisplayFor(modelItem => item.EventDate)
        </li>
    }

</ul>

@if (Model.HasPreviousPage)
{
    Html.RouteLink("<<<", "UpcomingDinners", new { page = (Model.PageIndex + 1) });
}

@if (Model.HasNextPage)
{
    Html.RouteLink(">>>", "UpcomingDinners", new {page = (Model.PageIndex + 1)});
}

@section Scripts {
    
    <script type="text/javascript">

    $(document).ready(function () {
        LoadMap();
    });

    $("#search").click(function (evt) {
        var where = jQuery.trim($("#Location").val());
        if (where.length < 1)
            return;

        FindDinnersGivenLocation(where);
    });

</script>


}