@model IEnumerable<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Home Page";
}

<h1>Upcoming Dinners</h1>

<ul>
    @foreach (var d in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => d.Title)
            (@Html.DisplayFor(modelItem => d.EventDate))
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Create New Dinner", "Create")
</p>